
<div class="row">
    <div class="col-md-6 bg">
        <div class="containerOut">
      
              <div>
                <h5 class="joinUs" jhiTranslate="home.joinus"></h5>
              </div>
              <div>
              </div>
        </div>        
    </div>
    
    <div class="col-md-6">
    <div class="row justify-content-center donatescreen">
    <div class="col-8">
        
            <h1 class="thanksheading ">Thanks for your generous donation!</h1>
           
                
            <h3 class="thanksbody">Your invaluable contribution will ensure nutritious meals are provided to some of the world's poorest children each day in school, giving them a chance at a better future.</h3>
            <h3>Thank you so much for your generous support.</h3>

            <br>
            <h1 class="thanksheading ">Help us spread the word!</h1>
                
                <div class="row color">
                 <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                 </div>
             </div>
    </div>
    </div>
    </div>
</div>

