<div>
    <h2 id="page-heading">
        <span jhiTranslate="webApp.homePage.home.title">Home Pages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-home-page" [routerLink]="['/home-page/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="webApp.homePage.home.createLabel">
            Create a new Home Page
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="homePages?.length === 0">
        <span jhiTranslate="webApp.homePage.home.notFound">No homePages found</span>
    </div>
    <div class="table-responsive" *ngIf="homePages?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="webApp.homePage.costOfFeedingAChild">Cost Of Feeding A Child</span></th>
            <th scope="col" ><span jhiTranslate="webApp.homePage.typeOfProject">Type Of Project</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let homePage of homePages ;trackBy: trackId">
                <td><a [routerLink]="['/home-page', homePage.id, 'view' ]">{{homePage.id}}</a></td>
                <td>{{homePage.costOfFeedingAChild}}</td>
                <td jhiTranslate="{{'webApp.TypeOfProject.' + homePage.typeOfProject}}">{{homePage.typeOfProject}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/home-page', homePage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/home-page', homePage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/home-page', { outlets: { popup: homePage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
