<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-project-heading" jhiTranslate="webApp.project.home.createOrEditLabel">Create or edit a Project</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.salesforceUID" for="field_salesforceUID">Salesforce UID</label>
                    <input type="text" class="form-control" name="salesforceUID" id="field_salesforceUID"
                           formControlName="salesforceUID"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.typeOfProject" for="field_typeOfProject">Type Of Project</label>
                    <select class="form-control" name="typeOfProject" formControlName="typeOfProject" id="field_typeOfProject">
                        <option value="GENERALFUNDRAISING">{{'webApp.TypeOfProject.GENERALFUNDRAISING' | translate}}</option>
                        <option value="SPONSORASCHOOL">{{'webApp.TypeOfProject.SPONSORASCHOOL' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('typeOfProject').invalid && (editForm.get('typeOfProject').dirty || editForm.get('typeOfProject').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('typeOfProject').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.fundraisingTarget" for="field_fundraisingTarget">Fundraising Target</label>
                    <input type="number" class="form-control" name="fundraisingTarget" id="field_fundraisingTarget"
                           formControlName="fundraisingTarget"/>
                    <div *ngIf="editForm.get('fundraisingTarget').invalid && (editForm.get('fundraisingTarget').dirty || editForm.get('fundraisingTarget').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fundraisingTarget').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fundraisingTarget')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.ageCategory" for="field_ageCategory">Age Category</label>
                    <input type="checkbox" class="form-control" name="ageCategory" id="field_ageCategory"
                           formControlName="ageCategory"/>
                    <div *ngIf="editForm.get('ageCategory').invalid && (editForm.get('ageCategory').dirty || editForm.get('ageCategory').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ageCategory').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.projectName" for="field_projectName">Project Name</label>
                    <input type="text" class="form-control" name="projectName" id="field_projectName"
                           formControlName="projectName"/>
                    <div *ngIf="editForm.get('projectName').invalid && (editForm.get('projectName').dirty || editForm.get('projectName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('projectName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.projectDescription" for="field_projectDescription">Project Description</label>
                    <textarea class="form-control" name="projectDescription" id="field_projectDescription"
                              formControlName="projectDescription"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.projectImage" for="field_projectImage">Project Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('projectImageContentType').value + ';base64,' + editForm.get('projectImage').value" style="max-height: 100px;" *ngIf="editForm.get('projectImage').value" alt="project image"/>
                        <div *ngIf="editForm.get('projectImage').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('projectImageContentType').value}}, {{byteSize(editForm.get('projectImage').value)}}</span>
                            <button type="button" (click)="clearInputImage('projectImage', 'projectImageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_projectImage" (change)="setFileData($event, 'projectImage', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="projectImage" id="field_projectImage"
                           formControlName="projectImage"/>
                    <input type="hidden" class="form-control" name="projectImageContentType" id="field_projectImageContentType"
                           formControlName="projectImageContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.sponsorshipStart" for="field_sponsorshipStart">Sponsorship Start</label>
                    <div class="input-group">
                        <input id="field_sponsorshipStart" type="text" class="form-control" name="sponsorshipStart" ngbDatepicker  #sponsorshipStartDp="ngbDatepicker" formControlName="sponsorshipStart"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="sponsorshipStartDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.sponsorshipEndDate" for="field_sponsorshipEndDate">Sponsorship End Date</label>
                    <div class="input-group">
                        <input id="field_sponsorshipEndDate" type="text" class="form-control" name="sponsorshipEndDate" ngbDatepicker  #sponsorshipEndDateDp="ngbDatepicker" formControlName="sponsorshipEndDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="sponsorshipEndDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.createdByUserId" for="field_createdByUserId">Created By User Id</label>
                    <input type="number" class="form-control" name="createdByUserId" id="field_createdByUserId"
                           formControlName="createdByUserId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.projectOfsupporter" for="field_projectOfsupporter">Project Ofsupporter</label>
                    <select class="form-control" id="field_projectOfsupporter" name="projectOfsupporter" formControlName="projectOfsupporter">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="supporterOption.id === editForm.get('projectOfsupporter').value?.id ? editForm.get('projectOfsupporter').value : supporterOption" *ngFor="let supporterOption of supporters; trackBy: trackSupporterById">{{supporterOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webApp.project.projectForSchool" for="field_projectForSchool">Project For School</label>
                    <select class="form-control" id="field_projectForSchool" name="projectForSchool" formControlName="projectForSchool">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="schoolOption.id === editForm.get('projectForSchool').value?.id ? editForm.get('projectForSchool').value : schoolOption" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
