<div>
    <h2 id="page-heading">
        <span jhiTranslate="webApp.reasonForNonFeeding.home.title">Reason For Non Feedings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reason-for-non-feeding" [routerLink]="['/reason-for-non-feeding/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="webApp.reasonForNonFeeding.home.createLabel">
            Create a new Reason For Non Feeding
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="reasonForNonFeedings?.length === 0">
        <span jhiTranslate="webApp.reasonForNonFeeding.home.notFound">No reasonForNonFeedings found</span>
    </div>
    <div class="table-responsive" *ngIf="reasonForNonFeedings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="webApp.reasonForNonFeeding.dateOfNonFeeding">Date Of Non Feeding</span></th>
            <th scope="col" ><span jhiTranslate="webApp.reasonForNonFeeding.reasonForNonFeeding">Reason For Non Feeding</span></th>
            <th scope="col" ><span jhiTranslate="webApp.reasonForNonFeeding.createdByUserId">Created By User Id</span></th>
            <th scope="col" ><span jhiTranslate="webApp.reasonForNonFeeding.createdDate">Created Date</span></th>
            <th scope="col" ><span jhiTranslate="webApp.reasonForNonFeeding.schoolNotFed">School Not Fed</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reasonForNonFeeding of reasonForNonFeedings ;trackBy: trackId">
                <td><a [routerLink]="['/reason-for-non-feeding', reasonForNonFeeding.id, 'view' ]">{{reasonForNonFeeding.id}}</a></td>
                <td>{{reasonForNonFeeding.dateOfNonFeeding | date:'medium'}}</td>
                <td>{{reasonForNonFeeding.reasonForNonFeeding}}</td>
                <td>{{reasonForNonFeeding.createdByUserId}}</td>
                <td>{{reasonForNonFeeding.createdDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="reasonForNonFeeding.schoolNotFed">
                        <a [routerLink]="['/school', reasonForNonFeeding.schoolNotFed?.id, 'view' ]" >{{reasonForNonFeeding.schoolNotFed?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/reason-for-non-feeding', reasonForNonFeeding.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reason-for-non-feeding', reasonForNonFeeding.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reason-for-non-feeding', { outlets: { popup: reasonForNonFeeding.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
