/* ==========================================================================
Main page styles
========================================================================== */

.col-md-12 {
  margin: 0px;
  padding: 0px;
}

.background {
  display: inline-block;
  width: 100%;
  height: auto;
  padding-bottom: 10vw;
}

.time-icon {
  display: inline-block;
  width: 100%;
  height: 60px;
  margin-top:50px;
  background: url('../../content/images/time-icon.png') no-repeat center center;
}

.news-icon {
  display: inline-block;
  width: 100%;
  height: 60px;
  margin-top:20px;
  background: url('../../content/images/news-icon.png') no-repeat center center;
}

.alert alert-warning {
  position: fixed;
  z-index: 2;
}

.arrow-icon {
  display: inline-block;
  width: 100%;
  height: 60px;
  margin-top:20px;
  background: url('../../content/images/arrow-icon.png') no-repeat center center;
}

.woodenPanel {
  display: inline-block;
  width: 110%;
  height: 500px;
  background: url('../../content/images/woodenPanel.jpg') repeat center top;
  box-shadow: 0 0 50px black;
}



.joinUs {
  position: relative;
  text-align: center;
  font: "Campton-Bold", Helvetica, Arial, sans-serif; 
  color:white;
  font-size:9vw;
  padding-top: 175px;
  z-index: 10;
}


.joinUsBody {
  position: relative;
  padding-top:2vw;
  text-align: center;
  font: "Campton-Bold", Helvetica, Arial, sans-serif; 
  color:white;
  font-size:3vw;
  z-index: 10;
}

.joinUsBodySmall {
  padding-top:50px;
  text-align: center;
  font: "Campton-Bold", Helvetica, Arial, sans-serif; 
  color:white;
  font-size:1.3vw;
}

.messageHeader {
  padding:0px;
  text-align: center;
  font: "Campton-Bold", Helvetica, Arial, sans-serif; 
  color:#009ddc;
  font-size:3vw;
}

.col-centered {

  display: inline-block;
float: none !important;
margin-left: auto;
margin-right: auto;
vertical-align: top;
}

.h1{
  display: inline-block;
font-size: 120px;
border-bottom: 8px solid #f3a909;
}






.card:hover {
  transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



.containerOut {
  position: relative;
  height: 100vh;
  min-height: 40rem;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}












/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}
