<div class="row d-flex justify-content-center">
<div class="container col-md-12 container-fluid">
  <img src="url(../../../../content/images/homePageBackground.jpg" class="img-responsive card-img" alt="news image">
  <div class="card-img-overlay">
    <h1 class="card-title" style="font-size:4em align"><b>Terms of use</b></h1>
  </div>
</div>
</div>
  
    <div class="container-fluid col-md-8" style="font-size: 2em">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" style="margin-top:1em;">

    <div class="row featurette">
        <h1 class="featurette-heading" style="color:#0098d9; font-size:2em">Overview</h1>
    <p>This policy (together with the Mary's Meals Privacy Policy and Cookies Policy) explains the Terms of Use on which you may make use of the Mary's Meals website.</p>
    <p>Please read these Terms of Use carefully before you start to use the website.</p>
    <p>By using the Mary's Meals website, you indicate that you accept these Terms of Use. If you do not agree to these Terms of Use, please refrain from using the Mary's Meals website.</p>
    </div>

      <hr class="featurette-divider">

      <div class="row featurette">
          <h1 class="featurette-heading" style="color:#0098d9; font-size:2em">Mary's Meals</h1>
          <p>This website is operated by Mary's Meals International ("We", "Us", "Our"). We are a charity registered in Scotland (No. SC045223) and a company limited by guarantee (No. SC488380) and have our registered office at Craig Lodge, Dalmally, Argyll, PA33 1AR. We trade under the name "Mary's Meals".</p>
      </div>  

      <hr class="featurette-divider">

     <div class="row featurette">
          <h1 class="featurette-heading" style="color:#0098d9; font-size:2em">Accessing our website</h1>
          <p>Access to our website is permitted on a temporary basis, and we may withdraw or amend the service we provide on our website without notice (see below). We will not be liable if for any reason our website is unavailable at any time or for any period. Access to our website may be suspended or the website may be closed indefinitely, if the need arises.</p>
          <p>You are responsible for making all arrangements necessary for you to have access to our website. You are also responsible for ensuring that all persons who access our website through your internet connection are aware of these terms, and that they comply with them.</p>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
          <h1 class="featurette-heading" style="color:#0098d9; font-size:2em">Intellectual property rights</h1>
          <br>
          <p>Mary's Meals is a registered trade mark of Mary's Meals.</p>
          <p>We are the owner or the licensor of all intellectual property rights on the Mary's Meals website, and in the material published on it, unless otherwise stated. Those works are protected by trade mark and copyright laws and treaties around the world. All such rights are reserved.</p>
      </div>

    <hr class="featurette-divider">

      <div class="row featurette">
          <h1 class="featurette-heading" style="color:#0098d9; font-size:2em">Licence</h1>
          <p>You are permitted to print and download extracts from our website for your own use on the following basis:</p>
              <li>you use the downloaded extracts for a non-commercial [or charitable] purpose;</li>
              <li>you do not modify the downloaded extracts (whether text or images) in any way;</li>
              <li>you use downloaded extracts in the same context as such material appears on the Mary's Meals website, whether in relation to corresponding text or otherwise;</li>
              <li>you do not use the extracts in an offensive manner or in any way that is derogatory to or will cause reputational harm to Mary's Meals; and</li>
              <li>you properly attribute the downloaded extracts to Mary's Meals, with reference to any relevant copyright and trade mark notices and the following permission notice</li>

          <p>"Reproduced with permission from Mary's Meals. All rights reserved."</p>
          <p>Unless otherwise stated, the copyright and other intellectual property rights in all material on the website (including without limitation photographs and graphical images) are owned by Mary's Meals or our licensors. Any use of extracts from the website other than in accordance with this licence for any purpose is prohibited without the written consent of Mary's Meals. If you breach any of the terms of this licence, your permission to use the website automatically terminates and you must immediately destroy any downloaded or printed extracts from the website.</p>
          <p>If you have any questions regarding how you may use materials downloaded from this website please do not hesitate to contact us.</p>
          <p>Subject to the above, no part of the website may be reproduced or stored in any other website or included in any public or private electronic retrieval system or service without the prior written permission of Mary's Meals. Any rights not expressly granted in these terms are reserved.</p>
        </div>

    <hr class="featurette-divider">


      <div class="row featurette">
          <h1 class="featurette-heading" style="color:#0098d9; font-size:2em">Reliance on information posted</h1>
          <p>Commentary and other materials posted on our website are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to our website, or by anyone who may be informed of any of its contents.</p>
        </div>

    <hr class="featurette-divider">

        <div class="row featurette">
          <h1 class="featurette-heading" style="color:#0098d9; font-size:2em">Information about you</h1>
          <p>We process information about you in accordance with our Privacy Policy. By using our website you consent to such processing and you warrant that all data provided by you is accurate.</p>
        </div>

        <hr class="featurette-divider">
    
        <div class="row featurette">
          <h1 class="featurette-heading" style="color:#0098d9; font-size:2em">Uploading material to our website</h1>
          <p>Any material you upload to our website will be considered non-confidential and non-proprietary, and we have the right to use, copy, distribute and disclose to third parties any such material for any purpose. We also have the right to disclose your identity to any third party who is claiming that any material posted or uploaded by you to our website constitutes a violation of their intellectual property rights, or of their right to privacy.</p>
          <p>We will not be responsible, or liable to any third party, for the content or accuracy of any materials posted by you or any other user of our website.</p>
          <p>We have the right to remove any material or posting you make on our website if, in our opinion, such material is not suitable for the Mary’s Meals Website.</p>
        </div>

         <hr class="featurette-divider">
    
        <div class="row featurette">
          <h1 class="featurette-heading" style="color:#0098d9; font-size:2em">Linking to the Mary's Meals website</h1>
          <p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. We reserve the right to withdraw linking permission without notice.</p>
          <p>If you wish to make any use of material on our website other than that set out above, please contact us.</p>
        </div>

                 <hr class="featurette-divider">

         <div class="row featurette">
          <h1 class="featurette-heading" style="color:#0098d9; font-size:2em">Disclaimer</h1>
          <p>While Mary’s Meals endeavours to ensure that the information on our website is correct, we do not warrant the accuracy and completeness of the material on the website. Mary’s Meals may make changes to the material on the website at any time without notice. The material on the website may be out of date, and we make no commitment to update such material.</p>
        </div>

         <hr class="featurette-divider">
    
        <div class="row featurette">
          <h1 class="featurette-heading" style="color:#0098d9; font-size:2em">Linking to the Mary's Meals website</h1>
          <p>The material displayed on our website is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, we hereby expressly exclude:</p>
          <li>All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity.</li>
          <li>Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our website or in connection with the use, inability to use, or results of the use of our website, any websites linked to it and any materials posted on it, including, without limitation any liability for:</li>
          <li>loss of income or revenue;</li>
          <li>loss of business;</li>
          <li>loss of profits or contracts;</li>
          <li>loss of anticipated savings;</li>
          <li>loss of data;</li>
          <li>loss of goodwill;</li>
          <li>wasted management or office time; and</li>
          <li>any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable, provided that this condition shall not prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above.</li>
          <p>This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.</p>
        </div>

                   <hr class="featurette-divider">

         <div class="row featurette">
          <h1 class="featurette-heading" style="color:#0098d9; font-size:2em">Disclaimer</h1>
          <p>While Mary’s Meals endeavours to ensure that the information on our website is correct, we do not warrant the accuracy and completeness of the material on the website. Mary’s Meals may make changes to the material on the website at any time without notice. The material on the website may be out of date, and we make no commitment to update such material.</p>
        </div>
  <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->


 
 <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading" style="color:#0098d9">{{news.descriptionOne}}</h1>
      <p class="lead text-muted white-space"></p>
      <p>
        <a href="#" class="btn btn-primary my-2">Set up a Monthly Donation</a>
        <a href="#" class="btn btn-secondary my-2">Make a Single Donation</a>
      </p>
    </div>
  </section>
    
    <hr class="featurette-divider">

    <div class="row col-md-12">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
    </div>
    </div>


  </section>
    
    <hr class="featurette-divider">

    <div class="row col-md-12">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
    </div>
    </div>


